 {%  include 'NavBar.html' %}
<!DOCTYPE html>
<html lang="en">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="container">
    <div class="row">
    <h1> Workflows </h1>
<hr>

        <form action= "{% url  'Apply_Workflow' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group row col-lg-8">
               <h3> Nomination of Causative Rare variants for rare genetic disorders </h3>
                <br>
               <button class="col-lg-6 btn btn-primary" type="submit"> Get Nominated Rare Variants </button>
            </div>

        </form>

    </div>
</div>
</body>
</html>